[submodule "stage-developpement/00-stage-developpement/files/StanForD-Parser"]
	path = stage-developpement/00-stage-developpement/files/StanForD-Parser
	url = git@github.com:DataForUs-udes/StanForD-Parser.git
	branch = main
