[Unit]
Description=Create USB Drive Image on First Boot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/create-usbdrive.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target